body{
            background-color: rgb(42, 73, 175);
            font-family: Arial, Helvetica, sans-serif;
        }
        header{
            color: white;
            text-align: center;
        }
        section{
            background-color: white;
            border-radius: 10px;
            padding: 10px;
            width: 500px;
            margin: auto;
            box-shadow: 3px 3px 5px black;
            text-align: left;
        }
        footer{
            color: white;
            text-align: center;
        }